.buton__UP{
    border: none;
    background: none;
}
.buton__Down{
    border: none;
    background: none;
}
.block__butoon {
    display: flex;
    flex-direction: column-reverse;
    width: 20px;
    position: absolute;
top:0px;
    left:130px;
}
.block__form{
    position: relative;
}
.block__textarea{
    border:2px solid black;
    min-height: 38px;
    width: 150px;
}